video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../images/polina.jpg) no-repeat;
    background-size: cover; 
}

body {
    background-color: red;
}


/*******************************************
**************    CONTENT    ***************
*******************************************/

#box {
    width: 50%;
    position: absolute;
    padding: 3%;
    top: 50%;
    left: 25%;
     transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    text-align: center;
    color: white;
    text-transform: uppercase;
}

#box h1{
    font-size: 5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;

}

#box p {
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: none;
    line-height: 35px;
}

#box a {
    display: block;
    width: 250px;
    height: 50px;
    border: 1px solid white;
    margin: 0 auto;
    line-height: 50px;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-top: 20px;
}


/***********************************************
*********************  NAV  ********************
***********************************************/

nav {
    background-color: rgba(255, 255, 255, 0.7);
    height: 60px
}

#logo {
    width: 40%;
    float: left;
}

#logo img {
    width: 30%;
    padding: 20px 30px;
}

#menu {
    float: left;
    width: 60%;
    text-align: right;
}

nav ul {
    line-height: 60px;
    padding-left: 30px;
}

nav li {
    display: inline;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: white;
    margin: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

footer {
    clear: both;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    position: fixed;
    bottom: 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: .75em;
    padding: 10px 30px;
}